<div >
  <div class="container-xxl">
  <div class="pageSize">
    
    <div class="row" >


    <h4 class="mainTag col-xl-4" > 
    Full Stack<br>Developer
    </h4>


    <div class="col-xl-8 text-white navComp" >
      <div class="row" >
      <h4 class="col-xl-2 ">Home</h4>
      <h4 class="col-xl-2">About</h4>
      <h4 class="col-xl-2">Partner</h4>
      <h4 class="col-xl-2"> Work</h4>
      <input type="text" class="searchMe" placeholder="Search">
      
    </div>
        

    
    </div>
    </div>
  </div>
</div>

</div>