.myBlock{
    height: 450px;
    width: 450px;
    background-color: aliceblue;
    border-top-left-radius:40px;
    border-top-right-radius:40px;
    box-shadow: rgba(239, 255, 10, 0.612) 0px 5px 15px;
}


.position
{
    position: absolute;
    margin-left: 10px;
    margin-right: 10px;
    bottom: 0px;
    text-align: center;
}
/* .mainDiv
{
    position: absolute;
   bottom: 0;
   
} */

.cirProfile
{
    position: relative;
    height:300px;
    width: 300px;
    border-radius: 50%;
    margin-left: 16.9%;
    background-color:aliceblue;
    margin-top: -30%;
    box-shadow: rgba(255, 71, 10, 0.612) 0px 5px 15px;
    
}
.cirImage
{
    position: relative;
    height:260px;
    width: 260px;
    border-radius: 50%;
    /* margin-left: 7%; */
    margin-top: 6%;
}

.myName
{
    font-family: Audiowide;
    margin-top: 70px;
    font-size: 35px;
    color:rgba(255, 0, 0, 0.673) ;
}

.myDesignation
{
    font-family: SoleSans;
    font-size: 25px;
    color:rgba(255, 0, 0, 0.673) ;
}